body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  color: black;
}
#headimg {
  width: 50vw;
  padding-top: 10vw;
  padding-left: 25vw;
  padding-right: 25vw;
  border-bottom: #fff 5px solid;
  transform: rotateZ(5deg);
}
#sorting {
  font-size: 1vw;
  border: 1px solid black;
  width: 20vw;
  height: 20vw;
  margin: 10vw;
  box-shadow: inset -3px 2px 0 0px;
  overflow: hidden;
}

#snake {
  font-size: 1vw;
  border: 1px solid black;
  width: 20vw;
  height: 20vw;
  margin: 10vw;
  box-shadow: inset -3px 2px 0 0px;
  overflow: hidden;
}

/*Slides*/

input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 20vw;
  height: 20vw;
  z-index: 99;
  opacity: 0;
}

input[type="checkbox"]:checked ~ div.curtain__panel--left {
  transform: translateX(0);
}

input[type="checkbox"]:checked ~ div.curtain__panel--right {
  transform: translateX(0);
}

.curtain__panel {
  background: white;
  width: 10vw; /* Each panel takes up half the container */
  height: 20vw; /* Used for demo purposes */
  float: left;
  position: relative;
  z-index: 2;
  transition: all 1s ease-out;
}

.curtain__panel--left {
  text-align: right;
  transform: translateX(-100%);
}
.curtain__panel--left p {
  margin-top: 90%;
}

.curtain__panel--right {
  text-align: left;
  transform: translateX(100%);
}
.curtain__panel--right p {
  margin-top: 90%;
}

.curtain__prize {
  text-align: center;
  background: #fff;
  position: absolute; /* Forces the prize position into the container start */
  z-index: 1; /* Places the prize behind the panels, which are z-index 2 */
  width: 20vw;
  height: 20vw;
  overflow: hidden;
}
.curtain__prize img {
  width: 20vw;
}
#aboutMe {
  background-color: white;
  color: black;
  position: absolute;
  padding: 2vw;
  right: 0px;
  top: 30vw;
  width: 50vw;
}
@media (max-width: 768px) {
  body {
    background-color: #fff;
  }
  #headimg {
    width: 50vw;
    padding-top: 10vw;
    padding-left: 25vw;
    padding-right: 25vw;
    border-bottom: #000 5px solid;
    transform: rotateZ(5deg);
  }
  .curtain__prize {
    text-align: center;
    background: #fff;
    position: absolute; /* Forces the prize position into the container start */
    z-index: 1; /* Places the prize behind the panels, which are z-index 2 */
    width: 30vw;
    height: 30vw;
    overflow: hidden;
  }
  input[type="checkbox"] {
    position: absolute;
    cursor: pointer;
    width: 30vw;
    height: 30vw;
    z-index: 99;
    opacity: 0;
  }
  .curtain__panel {
    background: white;
    width: 15vw; /* Each panel takes up half the container */
    height: 30vw; /* Used for demo purposes */
    float: left;
    position: relative;
    z-index: 2;
    transition: all 1s ease-out;
  }
  .curtain__prize img {
    width: 30vw;
  }
  #snake {
    font-size: 3vw;
    border: 1px solid black;
    width: 30vw;
    height: 30vw;
    margin: 10vw;
    box-shadow: inset -3px 2px 0 0px;
    overflow: hidden;
  }
  #sorting {
    font-size: 3vw;
    border: 1px solid black;
    width: 30vw;
    height: 30vw;
    margin: 10vw;
    box-shadow: inset -3px 2px 0 0px;
    overflow: hidden;
  }
  #projectWrapper {
    display: flex;
    position: absolute;
    bottom: 2vh;
  }
  #aboutMe {
    font-size: 2vh;
    width: auto;
    position: absolute;
    top: 15vh;
  }
}
