body{
    margin:0;
    padding:0;
}

header{
    clip-path: polygon(0 0, 100% 0, 100% 72%, 0 48%);
    height: 15vh;
    background-color: deepskyblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom:5vh;
}
header h2{
    rotate:30deg;
    padding:1vh
}